name: Linux unit tests and system tests

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  linux-build-and-test:
    runs-on: [self-hosted, linux, x64]
    steps:
      - uses: actions/checkout@v4
        with:
          # Needed to fetch tags for versioningit
          fetch-depth: "0"
      
      - name: Run unit tests and system tests on Linux
        run: ${GITHUB_WORKSPACE}/buildconfig/Jenkins/Conda/create-test-file ${GITHUB_WORKSPACE}

      - name: Upload build and test log artifacts
        uses: actions/upload-artifact@v4
        if: always()
        with:
          path: ${{ github.workspace }}/testdir/*.log

      - name: Install Miniforge
        uses: conda-incubator/setup-miniconda@v3
        with:
          miniforge-version: latest

      - name: install python
        run: conda install python=3.10

      - name: test conda env
        run: |
          conda activate test-env
          conda list

      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action/linux@v2
        if: always()
        with:
          files: |
            ${{ github.workspace }}/build/Testing/**/*.xml
            ${{ github.workspace }}/build/Testing/SystemTests/**/TEST-systemtests*.xml
